
    <table id="customers">
        <thead>
            <tr>
                <th>index</th>
                <th>productphoto</th>
                <th>name</th>
                <th>price</th>
                <th>remove</th>
            </tr>
        </thead>
        <tbody class="row">
            <tr *ngFor="let item of CartProduct;let i =index;">
                <td>{{i+1}}</td> 
                <div class="imgg"> 
                    <td> <img mat-card-image [src]='item.photo'></td>
                </div>
                <td >{{ item.productname }}</td>
                <td>{{ item.productprice }}</td>
                <td>
                <button  mat-raised-button color="primary">
                    <mat-icon (click)="remove(item)">delete</mat-icon>
                </button>
            </td>   
            <tr class="id1">
                <td colspan="2"></td>
                <td><button routerLink="/homepage" mat-raised-button color="accent">shopmore</button></td>
                <td style="font-family: aria-label"><b>TotalPrice:₹{{grandTotal}}</b></td>
                <td><button  mat-raised-button   (click)="openDialog()" color="primary">Conform</button></td>
            </tr>
        </tbody>
    </table>

    