<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> 
    <span><a mat-button  href="/">HOME</a></span>
        <span> <mat-icon aria-hidden="false" aria-label="Example home icon" mat-button routerLink="/homepage" routerLinkActive="active" fontIcon="home"></mat-icon> </span>    
-->
     
  <ng-container *ngIf="isAuth();then autenticated;else notAuthenticated"></ng-container>
     <ng-template #autenticated>
      <span><a mat-button  href="/homepage">SHOPPING </a></span>
      <span class="spacer"></span>
      <a mat-button routerLink="/homepage">HOME</a>
      <span><a mat-button  (click)="logout()">LogOut</a></span>
      <button  mat-raised-button color="primary"   >
        <span  routerLink="/AddCart" class="material-icons">
            shopping_cart
        </span>
    </button>

      </ng-template>
    <ng-template #notAuthenticated>
      <span class="spacer"></span>
      <a mat-button routerLink="/register">Register</a>
      <a mat-button routerLink="/login" routerLinkActive="active">login </a>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content-body">
  <router-outlet></router-outlet>
</div>