<div fx-Layout="row">
    <header>
        <h1>Sample flexbox example</h1>
      </header>
  
      <section class="flex-container">
        <article class="flex1">
          <h2>project1</h2>
  
          <p>item1</p>
        </article>
  
        <article class="flex2">
          <h2>project2</h2>
  
          <p>item2</p>
        </article>
  
        <article class="flex3">
          <h2>project3</h2>
  
          <p>item3</p>
          </article>
          
        <article class="flex4">
            <h2>product4</h2>
    
            <p>item4</p>
        </article>
            
        <article class="flex5">
            <h2>product5</h2>
    
            <p>item5</p>
        </article>
        <article class="flex6">
            <h1 class="p6">product6</h1>
            <p>item6</p>
        </article>
      </section>
</div>
